<div class="container">
  <h2>New Sample</h2>
  <%= simple_form_for(@sample) do |f| %>
    <div class="form-inputs">
      <%= f.input :sample_name %>
      <%= f.input :sample_type %>
      <%= f.input :sample_matrix %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Submit" %>
    </div>
  <% end %>

  <%= link_to 'Back to samples', samples_path %>
</div>
