<div class="container bg-white mt-5 pb-3">
  <br>
  <h1>Amostra selecionada: <%= @sample.sample_name %></h1>
  <br>
  <div class="container border shadow p-3 mb-5 bg-light rounded">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10">
          <h5>Análises disponíveis:</h5>
           <%= simple_form_for [@sample, @sample_analysis] do |f| %>
            <%= f.collection_check_boxes :lab_analysis_id, LabAnalysis.all, :id, :analysis_name do |m| %>
              <%= m.check_box %> <%= m.label %>
            <% end %>
            <%= f.submit "Enviar", class: "btn btn-flat" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
