<%= render 'shared/tabs'%>
<div class="container bg-white mt-5 pb-3">
  <br>
  <h1>Amostra selecionada: <%= @sample.sample_name %></h1>
  <br>
  <div class="container border shadow p-3 mb-5 bg-light rounded">
    <div class="container">
      <h4>Análises disponíveis:</h4>
        <%= simple_form_for [@sample, @sample_analysis] do |f| %>
          <div class="row row-cols-1 row-cols-sm-2">
            <%= f.collection_check_boxes :lab_analysis_id, LabAnalysis.all, :id, :analysis_name do |m| %>
              <div class="col mb-2">
                <div class="card shadow-sm rounded">
                  <div class="card-body">
                    <p class="card-title mb-0"><%= m.check_box %> <%= m.label class:"mb-0" %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <br>
        <%= f.submit "Enviar", class: "btn btn-flat" %>
      <% end %>
    </div>
  </div>
</div>
