<div class="container bg-white mt-5 mb-5 p-5">
  <div class="container border shadow p-3 mb-5 bg-light rounded">
    <div class="card card-body">
      <%= simple_form_for [@sample] do |f| %>
        <div class="form-inputs">
          <%= f.input :sample_name, label:"Identificação da Amostra" %>
          <%= f.input :sample_type, label:"Tipo" %>
          <%= f.input :sample_matrix, label:"Matriz" %>
        </div>
        <br>
        <div class="form-actions">
          <div class="row justify-content-space-between">
            <div class="col">
              <%= f.button :submit, "Editar Amostra", method: :update, class: "btn btn-flat" %>
            </div>
            <div class="col text-right">
              <%= link_to 'Voltar para solicitação', request_path(@sample.request), class: "btn btn-flat" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
