<p>
  <button class="btn btn-flat" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Nova Amostra
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <%= simple_form_for [@request, @sample] do |f| %>
      <div class="form-inputs">
        <%= f.input :sample_name, label:"Identificação da Amostra" %>
        <%= f.input :sample_type, label:"Tipo" %>
        <%= f.input :sample_matrix, label:"Matriz" %>
      </div>
      <br>
      <div class="form-actions">
        <%= f.button :submit, "Adicionar Amostra", class: "btn btn-flat" %>
      </div>
    <% end %>
  </div>
</div>
