<%= simple_form_for [@request, @sample ] do |f| %>
  <div class="form-inputs">
    <%= f.input :sample_name %>
    <%= f.input :sample_type %>
    <%= f.input :sample_matrix %>
    <%= f.label :lab_analyses %>
    <%= f.collection_check_boxes :lab_analysis_ids, LabAnalysis.all, :id, :analysis_name do |m| %>
        <%= m.check_box %> <%= m.label %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit" %>
  </div>
<% end %>
