<p>
  <button class="btn btn-flat" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Adicionar Amostra
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <%= simple_form_for [@request, @sample] do |f| %>
      <div class="form-inputs">
        <%= f.label :sample_name, "Identificação da Amostra" %>
          <%= f.text_field :sample_name %>
        <%= f.label :sample_type, "Tipo" %>
          <%= f.text_field :sample_type %>
        <%= f.label :sample_matrix, "Matriz" %>
          <%= f.text_field :sample_matrix %>
      </div>
      <br>
      <div class="form-actions">
        <%= f.button :submit, "Adicionar Amostra", class: "btn btn-flat" %>
      </div>
    <% end %>
  </div>
</div>
