<%= render 'shared/tabs'%>
<div class="container bg-light bg-white mt-5 mb-5 p-5">
  <% if current_user.tecnician %>
    <%# Search Bar %>
    <div class="container border shadow pt-3 bg-light rounded">
      <%= render 'shared/search_form' %>
    </div>
    <%# Index de Solicitações %>
    <div class="container border shadow p-3 mb-5 mt-5 bg-light rounded">
      <%= render '/shared/tecnician_index_view' %>
    </div>
  <% else %>
    <div class="container border shadow pt-3 bg-light rounded">
      <%= render 'shared/search_form' %>
    </div>
    <br>
    <div class="container border shadow p-3 mb-5 bg-light rounded">
      <%= render '/shared/user_index_view' %>
    </div>
  <% end %>
</div>
