<%= render 'shared/tabs'%>
<div class="container bg-light bg-white mt-5 mb-5 p-5">
    <%# Search Bar %>
    <div class="container border shadow pt-3 bg-light rounded">
      <%= render 'shared/search_form' %>
    </div>
  <% if current_user.admin %>
    <%# Index de Solicitações Admin %>
    <%= render '/shared/admin_index_view' %>
  <% elsif current_user.tecnician %>
    <%# Index de Solicitações Tecnician%>
      <%= render '/shared/tecnician_index_view' %>
  <% else %>
    <%# Index de Solicitações Tecnician%>
      <%= render '/shared/user_index_view' %>
  <% end %>
</div>
