<div class="container">
  <h1>New request</h1>

  <%= simple_form_for [@request] do |f| %>
    <div class="form-inputs">
      <%= f.label :request_date %>
      <%= f.date_field :request_date %>
    </div>
    <div class="form-inputs">
      <%= f.label :project_name %>
      <%= f.text_field :project_name %>
    </div>
    <div class="form-inputs">
      <%= f.label :project_summary %>
      <%= f.text_field :project_summary %>
    </div>
    <div class="form-actions">
      <%= f.submit "Start Request" %>
    </div>
  <% end %>

  <%= link_to 'Back to requests', requests_path %>
</div>
