<%= render 'shared/tabs'%>
<div class="container bg-white mt-5 pb-3">
  <br>
  <h1>Nova Solicitação</h1>
  <br>
  <div class="container border shadow p-3 mb-5 bg-light rounded">
    <%= simple_form_for [@request] do |f| %>
      <div class="form-group row ml-2">
        <div class="col-3">
          <%= f.input :request_date,as: :date, html5: true, label: "Data da Solicitação"%>
        </div>
      </div>
      <div class="form-group row ml-2">
        <div class="col-9">
          <%= f.input :project_name, label: "Projeto"%>
        </div>
      </div>
      <div class="form-group row ml-2">
        <div class="col-9">
          <%= f.input :project_summary, label: "Resumo do Projeto"%>
        </div>
      </div>
      <br>
      <div class="form-actions row ml-2">
        <div class="col">
          <%= f.submit "Iniciar Solicitação", class: "btn btn-flat" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render 'shared/footer' %>
