<%= render 'shared/tabs'%>
<div class="container bg-white mt-5 mb-5 p-5">
  <div class="card shadow-sm mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h4>Projeto: <%= @request.project_name %></h4>
        </div>
        <div class="col">
          <h2 class="text-right"><%= @request.my_unique_id %></h2>
        </div>
      </div>
      <div class="row">
      </div>
      <div class="row">
        <div class="col">
          <h4>Resumo: <%= @request.project_summary %></h4>
        </div>
        <div class="col">
          <h4 class="text-right">Número de Amostras: <%= Sample.where(request_id: @request.id).count %></h4>
        </div>
      </div>
      <div class="row align-items-center">
      <% if current_user.admin %>
        <% if @request.results_ready %>
          <% if @request.results_approval %>
            <div class="col">
              <h4><%= link_to "Resultado enviado ao cliente" ,rails_blob_path(@request.result, disposition: 'attachment')%></h4>
            </div>
          <% else %>
            <div class="col">
              <h4><%= link_to "Resultado" ,rails_blob_path(@request.result, disposition: 'attachment')%></h4>
            </div>
            <div class="col">
              <h4 class="text-right"><%= link_to "Liberar Resultado", update_request_path(@request), method: :update, data: { confirm: 'Confirma a liberação do resultado?' }, class: "btn btn-flat" %></h4>
            </div>
          <% end %>
        <% else %>
          <% if @request.entry_approval %>
            <div class="col">
              <h4 class="text-right"> 🧑🏻‍🔬 Solicitação enviada para análise</h4>
            </div>
          <% else %>
            <div class="col">
              <h4 class="text-right"><%= link_to "Liberar solicitação", update_request_path(@request), method: :update, data: { confirm: 'Confirma a entrada da solicitação?' }, class: "btn btn-flat" %></h4>
            </div>
          <% end %>
        <% end %>
      <% elsif current_user.tecnician %>
        <% if @request.results_approval %>
          <div class="col">
            <h4 class="text-right">Resultado liberado pela coordenação</h4>
          </div>
        <% else %>
          <div class="col">
            <% unless @request.result.blank? %>
              <h4 ><%= link_to "Resultado" ,rails_blob_path(@request.result, disposition: 'attachment')%></h4>
            <% end %>
          </div>
          <div class="col">
            <h4 class="text-right">Resultado aguardando liberação</h4>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
  <div class="container border shadow-sm p-3 mb-3 bg-light rounded">
      <div class="card">
        <div class="card-title">
          <div class="row pt-2 m-2">
            <div class="col text-left">
              <h4>Identificação da Amostra</h4>
            </div>
            <div class="col text-center">
              <h4>Análises Solicitadas</h4>
            </div>
            <div class="col">
            </div>
          </div>
        </div>
      </div>
      <% @request.samples.each do |sample| %>
          <div class="card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col text-left">
                  <h5><%= sample.sample_name %></h5>
                  <h6>Tipo: <%= sample.sample_type %></h6>
                  <h6>Matriz: <%= sample.sample_matrix %></h6>
                </div>
                <div class="col text-center">
                  <p>
                    <% analysis = [] %>
                    <% SampleAnalysis.where(sample_id: sample.id).each do |sample_analysis| %>
                      <% analysis << sample_analysis.lab_analysis.analysis_name %>
                    <% end %>
                    <%= analysis.join(", ") %>
                  </p>
                </div>
                <% if SampleAnalysis.where(sample_id: sample.id).blank? %>
                  <div class="col text-right">
                    <p><%= link_to 'Selecione as Análises', new_sample_sample_analysis_path(sample.id)  %></p>
                  </div>
                <% else %>
                  <div class="col text-right">
                    <p>Análises Selecionadas ✅</p>
                    <% unless @request.request_approval %>
                      <p><%= link_to 'Remover amostra', sample_path(id: sample.id), method: :delete, data: { confirm: 'Tem certeza de que quer deletar a amostra?' } %><p>
                      <p><%= link_to 'Editar amostra', edit_sample_path(sample), data: { confirm: 'Tem certeza de que quer editar a amostra?' } %><p>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
  </div>
  <% if current_user.tecnician %>
    <br>
    <% if @request.result.blank? %>
      <div class="container border shadow p-3 mb-5 bg-light rounded">
        <%= simple_form_for [ @request ] do |f| %>
          <%= f.input :result, as: :file, label: :Resultado%>
          <%= f.submit "Fazer upload" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <% if @request.samples.blank? %>
    <div class="container border shadow p-3 mb-5 bg-light rounded">
      <%= render 'shared/new_sample' %>
    </div>
    <div class="row justify-content-space-between">
    <div class="col">
      <%= link_to 'Apagar Solicitação', request_path(@request), method: :delete, data: { confirm: 'Tem certeza que deseja apagar a solicitação?' }, class: "btn btn-flat" %>
    </div>
  </div>
  <% else %>
    <% unless @request.request_approval %>
      <br>
      <div class="container border shadow p-3 mb-5 bg-light rounded">
        <%= render 'shared/new_sample' %>
      </div>
    <div class="row justify-content-space-between">
      <div class="col">
        <%= link_to 'Apagar Solicitação', request_path(@request), method: :delete, data: { confirm: 'Tem certeza que deseja apagar a solicitação?' }, class: "btn btn-flat" %>
      </div>
      <div class="col text-right">
          <%= link_to 'Enviar Solicitação', update_request_path(@request), method: :update, data: { confirm: 'Confirma o envio da solicitação?' }, class: "btn btn-flat" %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
