<div class="container bg-white mt-5 mb-5 p-5">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h4>Projeto: <%= @request.project_name %></h4>
        </div>
        <div class="col">
          <h2 class="text-right"><%= @request.my_unique_id %></h2>
        </div>
      </div>
      <div class="row">
      </div>
      <div class="row">
        <div class="col">
          <h4>Resumo: <%= @request.project_summary %></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="container border shadow p-3 mb-5 bg-light rounded">
      <div class="card">
        <div class="card-title">
          <div class="row pt-2 m-2">
            <div class="col text-left">
              <h4>Identificação da Amostra</h4>
            </div>
            <div class="col text-center">
              <h4>Análises Solicitadas</h4>
            </div>
            <div class="col">
            </div>
          </div>
        </div>
      </div>
      <% @samples.each do |sample| %>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col text-left">
                  <h5><%= sample.sample_name %></h5>
                </div>
                <div class="col text-center">
                  <p>
                    <% SampleAnalysis.where(sample_id: sample.id).each do |sample_analysis| %>
                      <%= sample_analysis.lab_analysis.analysis_name %>
                    <% end %>
                  </p>
                </div>
                <div class="col text-right">
                  <% if SampleAnalysis.where(sample_id: sample.id).blank? %>
                    <p><%= link_to 'Selecione as Análises', new_sample_sample_analysis_path(sample.id)  %></p>
                  <% else %>
                    <p>Análises Selecionadas</p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
  </div>
  <div class="container border shadow p-3 mb-5 bg-light rounded">
    <%= render 'shared/new_sample' %>
  </div>
  <div class="row justify-content-end mr-1">
    <%= link_to 'Apagar Solicitação', request_path(@request), method: :delete, data: { confirm: 'Are you sure do you wanto to delete this request?' }, class: "btn btn-flat" %>
  </div>
</div>
